{% extends "base.html" %}

{% block head %}
    <title>蓝鲸开发框架</title>
    {{ block.super }}
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/dataTables.bootstrap.css"
          rel="stylesheet"/>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css"
          rel="stylesheet">
    <style>
        .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: left;
        }

        .log-content {
            background-color: #f0f8ff;
            overflow: auto;
            height: 100%;
            padding: 10px;
        }

        .ip-start, .ip-end {
            border-bottom: dashed 1px;
            margin-bottom: 5px;
        }

    </style>
{% endblock %}

{% block navigation %}
    <li class="king-navbar-active"><a href="{{ SITE_URL }}"><span>首页</span></a></li>
{% endblock %}

{% block content %}
    <div class="king-page-box">
        <div class="king-container clearfix" style="width: 960px">
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">参数选择</h3>
                </div>
                <div class="king-block-content">
                    <form class="form-horizontal">
                        <div class="form-group clearfix ">
                            <label class="col-sm-4 control-label bk-lh30 pt0" style="text-align: right">选择业务：</label>
                            <div class="col-sm-4">
                                <select name="" id="biz_id" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-4 control-label bk-lh30 pt0" style="text-align: right">IP地址：</label>
                            <div class="col-sm-4">
                                <select name="" id="ip" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-4 control-label bk-lh30 pt0" style="text-align: right">JOB作业：</label>
                            <div class="col-sm-4">
                                <select name="" id="job" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-4 control-label bk-lh30 pt0"
                                   style="text-align: right">script脚本：</label>
                            <div class="col-sm-4">
                                <select name="" id="script" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button type="button" class="king-btn mr10  king-success" onclick="execute_job()">执行作业
                                </button>
                                <button type="button" class="king-btn mr10  king-info" onclick="execute_script()">执行脚本
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <button type="button" onclick="javascript:table.ajax.reload();"><i class="fa fa-cog">刷新</i></button>
                        </li>
                    </ul>
                    <h3 class="king-block-title">任务记录</h3>
                </div>
                <div class="king-block-content">
                    <table id="table2_demo1" class="table table-bordered table-hover dataTable no-footer" role="grid">
                        <thead>
                        <tr role="row">
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 10%;">业务</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 20%;">任务</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 10%;">用户</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 18%;">操作时间</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 12%;">主机IP</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 10%;">状态</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 10%;">详情</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">图表展示</h3>
                </div>
                <div class="king-block-content">
                    <div style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;"
                         id="chart_1557195202765" class="king-chart-box chart-area "
                         _echarts_instance_="1557195088479"></div>
                    <div style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;"
                         id="chart_1557195202728" class="king-chart-box chart-area "
                         _echarts_instance_="1557195088456"></div>
                </div>
            </div>
            <!-- 下拉框模板 -->
            <template id="app_tpl">
                <option value="#id#">#name#</option>
            </template>
            <template id="ip_tpl">
                <option value="#ip#">#ip#</option>
            </template>
            <template id="job_tpl">
                <option value="#job_id#">#job_name#</option>
            </template>
            <template id="script_tpl">
                <option value="#script_id#">#script_name#</option>
            </template>
            <!-- 设置面板End -->
        </div>
    </div>
{% endblock %}

{% block base_js %}
    {{ block.super }}
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/jquery.dataTables.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/dataTables.bootstrap.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
{% endblock %}

{% block extra_block %}
    <script>
        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function () {
                var val = cfg[arguments[2]] + '';
                if (typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        /*
        * 查询表单级联数据拉取
        */
        function select_ip(biz_id) {
            //级联选择ip
            $('#ip').html('');
            $.get("{{ SITE_URL }}get_ip_by_bizid/", {'biz_id': biz_id}, function (res) {
                if (res.result) {
                    var _html = '';
                    var list = res.data;
                    var tpl = $('#ip_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#ip').html(_html);
                } else {
                    console.log("IP获取失败");
                }
            }, 'json')
        }

        function select_job(biz_id) {
            //级联选择job
            $('#ip').html('');
            $.get("{{ SITE_URL }}get_job_list/", {'biz_id': biz_id}, function (res) {
                if (res.result) {
                    var _html = '';
                    var list = res.data;
                    var tpl = $('#job_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#job').html(_html);
                } else {
                    console.log("作业获取失败");
                }
            }, 'json')
        }

        function select_script(biz_id) {
            //级联选择script
            $('#ip').html('');
            $.get("{{ SITE_URL }}get_script_list/", {'biz_id': biz_id}, function (res) {
                if (res.result) {
                    var _html = '';
                    var list = res.data;
                    var tpl = $('#script_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#script').html(_html);
                } else {
                    console.log("脚本获取失败");
                }
            }, 'json')
        }

        /*
        * 表单查询事件提交，获取作业执行结果
        */
        function execute_job() {
            var biz_id = $('#biz_id').val();
            var biz_name = $('#biz_id').find("option:selected").text();
            var ip = $('#ip').val();
            var job_id = $('#job').val();
            var job_name = $('#job').find("option:selected").text();
            $.post('{{ SITE_URL }}execute_job/', {
                'biz_id': biz_id,
                'biz_name': biz_name,
                'ip': ip,
                'job_id': job_id,
                'job_name': job_name
            }, function (res) {
                if (res.result) {
                    table.ajax.reload();
                } else {
                    console.log("任务执行失败");
                }
            }, 'json');
        }

        function execute_script() {
            var biz_id = $('#biz_id').val();
            var biz_name = $('#biz_id').find("option:selected").text();
            console.log(biz_name);
            var ip = $('#ip').val();
            var script_id = $('#script').val();
            var script_name = $('#script').find("option:selected").text();
            $.post('{{ SITE_URL }}execute_script/', {
                'biz_id': biz_id,
                'biz_name': biz_name,
                'ip': ip,
                'script_id': script_id,
                'script_name': script_name
            }, function (res) {
                if (res.result) {
                    table.ajax.reload();
                } else {
                    console.log("脚本执行失败");
                }
            }, 'json');
        }
    </script>
    <script>
        $(function () {
            $.get("{{ SITE_URL }}get_biz_list/", function (res) {
                if (res.result) {
                    var _html = '';
                    var list = res.data;
                    var tpl = $('#app_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#biz_id').html(_html);

                    var biz_id = $("#biz_id").val();
                    select_ip(biz_id);
                    select_job(biz_id);
                    select_script(biz_id);
                } else {
                    alert("获取失败")
                }
            }, 'json')
            //业务选择下拉绑定change事件
            $("#biz_id").change(function () {
                var biz_id = $("#biz_id").val();
                console.log(biz_id)
                select_ip(biz_id);
                select_job(biz_id);
                select_script(biz_id);
            });
        });
    </script>
    <script>
        var table = $('#table2_demo1').DataTable({
            autoWidth: true,
            processing: true,
            paging: true, //隐藏分页
            ordering: false, //关闭排序
            info: true, //隐藏左下角分页信息
            searching: false, //关闭搜索
            pageLength: 5, //每页显示几条数据
            lengthChange: false, //不允许用户改变表格每页显示的记录数
            columns: [
                {data: "biz"},
                {data: "task"},
                {data: "user"},
                {data: "start_time"},
                {data: "ip"},
                {
                    data: "status",
                    render: function (data, type, row, meta) {
                        // http://magicbox.bk.tencent.com/#detail/show?id=list1&isPro=0
                        var color = {
                            'successed': 'king-success',
                            'running': 'king-warning',
                            'failed': 'king-danger',
                            'queue': 'king-info',
                            'finished': 'king-primary',
                        }[data];
                        return '<span class="badge ' + color + '">' + data + '</span>'
                    }
                },
                {
                    data: null,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return '<a class="king-btn king-default del" href="javascript: get_log(' + data.id + ');">详情</a>';
                    }
                }
            ],
            ajax: {
                url: "{{ SITE_URL }}get_operations/",
                dataSrc: "data",
                data: {},
            },

            language: {
                search: '搜索：',
                processing: '加载中',
                lengthMenu: "每页显示 _MENU_ 记录",
                zeroRecords: "没找到相应的数据！",
                info: "分页 _PAGE_ / _PAGES_",
                infoEmpty: "暂无数据！",
                infoFiltered: "(从 _MAX_ 条数据中搜索)",
                paginate: {
                    first: '首页',
                    last: '尾页',
                    previous: '上一页',
                    next: '下一页',
                }
            }
        });

        function get_log(celery_id) {
            var url = '{{ SITE_URL }}get_log/' + celery_id + '/';
            $.get(url, {}, function (res) {
                if (res.result) {
                    show_log(res.data);
                } else {
                    console.log(res.message);
                }
            })
        }

        function show_log(log_content) {
            var d = dialog({
                width: 500,
                height: 300,
                padding: 0,
                //quickClose: true,
                title: '日志详情',
                content: log_content,
            });
            d.showModal();
        }

        function createEStandLineChart(conf) {
            var myChart = echarts.init(document.getElementById(conf.selector));
            var legendData = [];
            for (var i = 0; i < conf.data.series.length; i++) {
                legendData.push(conf.data.series[i].name)
            }
            myChart.setOption({
                title: {
                    text: conf.title,
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    y: 'bottom',
                    data: legendData
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['bar', 'line']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: conf.data.xAxis
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        splitArea: {show: true}
                    }
                ],
                series: conf.data.series
            });
        }

        function initEStandLineChart(conf) {
            $.ajax({
                url: conf.url,
                type: 'GET',
                data: conf.data,
                dataType: conf.dataType,
                success: function (res) {
                    //获取数据成功
                    if (res.result) {
                        createEStandLineChart({
                            title: conf.title,
                            selector: conf.containerId, // 图表容器
                            data: res.data, // 图表数据
                        });
                    }
                }
            })
        }
    </script>
    <script>
        $(function () {
            initEStandLineChart({
                title: "内存使用率（百分比）",
                url: '{{ SITE_URL }}mem_chartdata/',
                dataType: 'json',
                data: {
                    'task_name': "内存使用率",
                    'ip': "10.0.1.192",
                },
                containerId: 'chart_1557195202765'
            });
        });
        $(function () {
            initEStandLineChart({
                title: "磁盘使用率（百分比）",
                url: '{{ SITE_URL }}disk_chartdata/',
                dataType: 'json',
                data: {
                    'task_name': "磁盘分区使用率",
                    'ip': "10.0.1.192",
                },
                containerId: 'chart_1557195202728'
            });
        });

    </script>
{% endblock %}

